.nav{
  width: 100vw;
  height: 90px;
  background-color: rgb(145, 160, 226);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-size: 2rem;
  font-weight: 800;
}



.category{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.a{
  height: 1500px;
}